<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form th:action="@{/items/new}" th:object="${joinMercForm}" method="post">
    <div class="form-group">
      <label th:for="teamName">팀명</label>
      <input type="text" th:field="*{teamName}" class="form-control"
             placeholder="팀명을 입력하세요"> </div>

    <div class="form-group">
      <label th:for="name">이름</label>
      <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="age">나이</label>
      <input type="text" th:field="*{age}" class="form-control" placeholder="나이를 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="address">나이</label>
      <input type="text" th:field="*{address}" class="form-control" placeholder="주소를 입력하세요">
    </div>

    <div class="form-group">
      <label th:for="position">포지션</label>
      <input type="text" th:field="*{position}" class="form-control" placeholder="선호 포지션을 입력하세요">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>